adafruit-io==1.1.0
Flask==0.10.1
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
newrelic==2.60.0.46
oauthlib==1.0.3
paho-mqtt==1.2
requests==2.9.1
requests-oauthlib==0.6.1
twython==3.3.0
Werkzeug==0.11.4
