{% extends "layout.html" %}

{% block content %}
 <article>
 	<h2>What is it?</h2>
 	<p>A glowing IoT sign of a shit and crossbones that monitors the health of the hashtag #fuck2016. Its also a <a href="http://twitter.com/pooparray" target="_blank">retweeter bot!</a></p>
  </article>

   <article>
  	<h2>How Does It Work?</h2>
  	<p>It mostly just follows along the hash tag. Every minute it checks to see the number of tweets coming in, and sends them along to some cloud service.</p>
    <p>Every 10 minutes it sort of resets itself so that it has a chance to build back up again.</p>
  </article>

  <article>
  	<h2>Why Make This?</h2>
  	<p>You're telling me you don't want a glowing IoT poop sign that tells you about how people are responding to one of the shittiest years on record? I mean we started w/ Prince, and the Captian Kangaroo got into office. Like, come on.<p>
  </article>

  <article>
  	<h2>Who Made It?</h2>
  	<p>Made by <a href="http://nadinelessio.com">NL</a>.</p>
  </article>
   
{% endblock %}
